.content {
    margin-top: 30% !important;
    min-height: 100vh;
   

}

#pdp:hover {
    cursor: pointer;
}

.list-group-item-action:not(.active) {
    cursor: pointer;
}
.active{
    background-color: #e4e4e4 !important;
    color: rgb(80, 80, 80);
    border-radius: 6px;
    
}