<div class="mt-5 container">
    <div>
        <div class="btn btn-sm rounded" routerLink="/contents"><i class="bi bi-x-lg"></i></div>
    </div>
    <div id="description" class="row  mt-5" *ngIf="content$ | async as content ">
        <div class="col-6 " *ngIf="content.picture">
            <div class="card  ">
                <img [src]="content.picture" class="card-img shadow-sm " [alt]="content.title">
            </div>
        </div>
        <div [ngClass]="{'mx-auto':!content.picture}" class="col-6 card p-3 border-0 shadow-sm">
            <div>
                <h4 class="m-0">{{content.title}}</h4>
                <p class="mt-1 mb-0"><small><i class="bi bi-eye"></i> 0 vues </small></p>
                <p class="fst-italic m-1 ms-0 mb-2"><small>Publier par {{content.publisher.firstName}}
                        {{content.publisher.lastName}}, le
                        {{content.createdAt}}</small>
                </p>
            </div>
            <div class="mt-1" id="text-description">
                <p>
                    {{content.description}}
                </p>
            </div>
        </div>

    </div>


</div>