<div class="  card shadow-sm border-0 my-1  border-1  p-0  " [routerLink]="['/content/',data.id]">
    <div class="card-body p-2">

        <p class="card-title fw-medium m-0 "><small>{{data.title}}</small></p>
        <p class="card-title  m-0 "><small>{{data.description}}</small></p>
        <img *ngIf="data.picture" [src]="data.picture" class="card-img shadow-sm my-2 " [alt]="data.title">


    </div>
    <div class="card-footer d-flex justify-content-between">
        <div></div>
        <div>
            <p class="card-title"><small><i class="bi bi-eye"></i> 0 vues </small></p>
        </div>

    </div>
</div>