<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <p class="navbar-brand my-0 fw-bold" [ngClass]="{'text-neon': !isDark}">Zanga</p>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link " routerLinkActive="active" routerLink="/home"  >Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/contents" >Contenu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/profile">Profil</a>
                </li>
            </ul>
            <button class="btn btn-sm " [ngClass]="{'btn-outline-success':isDark,' btn-outline-warning':!isDark}" (click)="darkMode()" >
                <i class="bi bi-lightbulb" [ngClass]="{'bi-lightbulb ':isDark,'bi-lightbulb-off ':!isDark}"></i> Mode sombre</button>
        </div>
    </div>
</nav>