<nav class="navbar navbar-expand-lg fixed-top border-1 d-flex justify-content-between bg-white shadow-sm">
    <div class="container-fluid navbar-toggler rounded-0 fixed-top border shadow-sm m-0 btn bg-white" type="button"
        data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <img src="assets/logo.svg" width="140" routerLink="/contents" class="navbar-brand " />
    </div>


    <div class="ms-5">
        <img src="assets/logo.svg" width="130" routerLink="/contents" class="navbar-brand " />
    </div>
    <div class="input-group input-group w-25 ">
        <span class="input-group-text" id="inputGroup-sizing-sm"><i class="bi bi-search"></i></span>
        <input type="text" class="form-control" placeholder="Recherche..." aria-label="search input"
            aria-describedby="inputGroup-sizing-sm">
    </div>
    <button class="btn btn-light border  me-4" (click)="signIn()">
        <small class="d-none d-sm-block"> <img src="assets/google.png" width="20px" /> Se connecter avec
            Google
        </small>
    </button>

</nav>