.rounded-profile {
    width: 8%;
    object-fit: cover;
    border-radius: 10px;
}

.fake-text-area{
    height: 50px;
}


.fake-text-area:hover {
    cursor: pointer;
}

#float-btn{
    position: fixed;
    bottom:5%;
    right:5%;
    z-index: 10;
}