<div class="mt-5 container">
    <div class="row">
        <div class="col-4 text-center">
            <img src="https://cdn.pixabay.com/photo/2021/02/22/16/34/portrait-6040876_1280.jpg" alt="..." class="w-50 rounded border shadow-sm"/>
            <h3 class="mt-2 ">Mohamed Ben Chamakh</h3>
        </div>
        <div class="col-8">

            <div class="d-grid gap-2 d-md-flex justify-content-md-between">
                <h5>Configuration</h5>
         
            </div>
            <ul class="mt-3 list-group">
                <li class="list-group-item row d-flex">
                    <div class="col-4">
                        <h6>Modifier mon nom</h6>
                    </div>
                    <div class="col">
                        <p class="mb-0"><small class="text-muted">Mohamed Ben Chamakh</small></p>
                    </div>
                </li>
                <li class="list-group-item row d-flex">
                    <div class="col-4">
                        <h6>Modifier mon mot de passe</h6>
                    </div>
                    <div class="col">
                        <p class="mb-0"><small class="text-muted">Mohamed Ben Chamakh</small></p>
                    </div>
                </li>
                <li class="list-group-item row d-flex">
                    <div class="col-4">
                        <h6>Modifier mon numéro </h6>
                    </div>
                    <div class="col">
                        <p class="mb-0"><small class="text-muted">Mohamed Ben Chamakh</small></p>
                    </div>
                </li>
                <li class="list-group-item row d-flex">
                    <div class="col-4">
                        <h6>Modifier mon email</h6>
                    </div>
                    <div class="col">
                        <p class="mb-0"><small class="text-muted">Mohamed Ben Chamakh</small></p>
                    </div>
                </li>
                <li class="list-group-item row d-flex">
                    <div class="col-4">
                        <h6>Mes enregistrements</h6>
                    </div>
                    <div class="col">
                        <p class="mb-0"><small class="text-muted">Mohamed Ben Chamakh</small></p>
                    </div>
                </li>
            </ul>

        </div>
    </div>

</div>